{% load i18n %}

<ul class="nav justify-content-end">
    <a class="navbar-brand" href="{% url 'home' %}">Never expand</a>
    {% if user.is_authenticated %}
        <li class="nav-item inline">
            <a class="nav-link" href="{% url 'panel' %}">{% trans 'My account' %}</a>
        </li>
        <li class="nav-item inline">
            <a class="nav-link" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
        </li>
    {% else %}
        <li class="nav-item inline">
            <a class="nav-link" href="{% url 'login' %}">{% trans 'Log in' %}</a>
        </li>
        <li class="nav-item inline">
            <a class="nav-link" href="{% url 'signup' %}">{% trans 'Sign up' %}</a>
        </li>
    {% endif %}
    <li class="nav-item inline">
        {% include '_switch_language.html' %}
    </li>
</ul>