[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/xela/web/iceberg.osf.com.ua/public_shtml/solar_django
ExecStart=/home/xela/web/iceberg.osf.com.ua/public_shtml/solar_django/virtenv/bin/gunicorn --access-logfile - --workers 5 --bind unix:/home/xela/web/iceberg.osf.com.ua/public_shtml/solar_django/project.sock project.wsgi:application
#ExecStart=/home/xela/web/iceberg.osf.com.ua/public_shtml/solar_django/virtenv/bin/gunicorn --access-logfile - --workers 5 --bind 127.0.0.1:8000  project.wsgi:application

[Install]
WantedBy=multi-user.target