{% extends 'home/index.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block bootstrap4_title %}Login{% endblock %}
{% block bootstrap4_content %}
    <div class="col-lg-4 offset-lg-4">
        <form method="post" action="{% url 'login' %}" name="login_form">
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary" value="{% trans 'Log in' %}">
            {% csrf_token %}
        </form>
        <p><a href="{% url 'password_reset' %}">{% trans 'Lost password?' %}</a></p>
    </div>
{% endblock %}
